body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: black;
}

.content-right h1, .content-right h2, .content-right h3 {
  font-family: 'baskerville-urw', Times, serif !important;
  font-weight: 500;
  letter-spacing: -0.03em;
}

#warp, * {
  box-shadow: none;
}
