body {
  font-family: 'acumin-pro', Helvetica, Arial, sans-serif;
  background-color: #c0b2ad;
}

a, p a, a:visited, p a:visited {
	color: #f04c36;
}

#warp {
	margin: 0 auto;
}

.main_content {
	margin-top: 10px;
}

/* NAVIGATION */
.main-navigation .nav-menu {
	background-color: #F5EFE9;
	border-top: 1px solid #ffffff;
}

.main-navigation li ul li a {
	background-color: #F5EFE9;
}

.main-navigation li ul li a:hover, .main-navigation li ul li a:focus {
	background-color: #f04c36;
	color: #ffffff;
}

ul.breadcrumb li a {
	text-transform: uppercase;
	font-size: 0.8em;
}

ul.breadcrumb {
	display: none;
}

/* CONTENT */


.content-right h1, .content-right h2, .content-right h3 {
  font-family: 'baskerville-urw', Times, serif !important;
  font-weight: 500;
  letter-spacing: -0.03em;
	
}

.content-right h3 {
	font-size: 2em;
}

#warp, * {
  box-shadow: none;
}


.site-info {display: none;}

/* PUBLIC GALLERY */
.main_content {
	border: none;
}

.gallery_right_panel {
	box-shadow: none;
	border-top: 0 solid #505050;
}

.results-sort select {
	border: 0 solid #ccc;
	font-size: 12px;
	margin-right: 0;
}

.gallery_view {
	display: none;
}

.gallery_col {
	width: 46%;
	float: left;
	padding: 0;
	margin-bottom: 20px;
	margin-right: 3%;
}

.gallery_list {
	position: relative;
	width: 50%;
}

.results_list .gallery_desc {
	padding: 12px 0 0 0 !important;
}

.results_list .gallery_col .gallery_desc.gallery_noimg {
	width: 50%;
}

.main_content .gallery_desc h3 {
	color: #505050;
	margin: 0;
}

.main_content .gallery_desc h3 a {
	color: #505050;
}

.main_content .gallery_list ul  {
	border: none;
	display: none;
}

.results_list .gallery_col .gallery_list {
	float: right;
	width: 49%;
}

.search_filter ul li .head {
	padding: 8px 10px 8px 12px;
}

.search_filter ul li.active .head, .search_filter ul li .head {
	background-position: 0px 13px;
}

.category_selector {
	margin-top: 0;
}

/* Buttons */
a.btn_view_entry {
	visibility: hidden;
	display: none;
}
/*
a.btn_view_entry:after {
	content: 'view';
	visibility: visible;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #cccccc;
	background-image: none;
	border: none;
	border-radius: 0;
	text-shadow: none;
	width: 48%;
	float: left;
	margin-right: 2%;
}
*/

a.btn_vote {
	display: block;
	visibility: visible;
	width: 100%;
	margin: 0 auto 20px auto !important;
	padding: 10px;
	border: none;
	border-radius: 3px;
	background-image: none;
	background-color: #69bd2b;

}

a.btn_vote:hover {
	background-color: #5ba525;
}

a.btn_vote:visited {
	color: #ffffff;
}


