body {
  font-family: 'acumin-pro', Helvetica, Arial, sans-serif;
  background-color: #c0b2ad;
}

a, p a, a:visited, p a:visited {
	color: #f04c36;
}

#warp {
	margin: 0 auto;
}

/* NAVIGATION */
.main-navigation .nav-menu {
	background-color: #F5EFE9;
	border-top: 1px solid #ffffff;
}

.main-navigation li ul li a {
	background-color: #F5EFE9;
}

.main-navigation li ul li a:hover, .main-navigation li ul li a:focus {
	background-color: #f04c36;
	color: #ffffff;
}

/* CONTENT */


.content-right h1, .content-right h2, .content-right h3 {
  font-family: 'baskerville-urw', Times, serif !important;
  font-weight: 500;
  letter-spacing: -0.03em;
}

#warp, * {
  box-shadow: none;
}
